.quiz_description {
    padding: clamp(7.188rem, 4.906rem + 9.13vw, 11.75rem) 16px 97px;
    background-color: var(--white-color);
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    position: relative;
    z-index: 1;
}

.quiz_description__colomn {
    display: flex;
    flex-direction: column;
    gap: clamp(1.5rem, 1.25rem + 1vw, 2rem);
    align-items: center;
}

.quiz_description__title {

}

.quiz_description__text {
    max-width: 690px;
    text-align: center;
}

.quiz_description__btn {
    padding: clamp(0.5rem, 0.375rem + 0.5vw, 0.75rem) 32px !important;
}

.quiz_description__img {
    position: absolute;
    width: 395px;
    width: clamp(8.125rem, -1.618rem + 31.18vw, 24.688rem);
    height: 363px;
    height: clamp(8.125rem, -0.441rem + 27.41vw, 22.688rem);
    bottom: 0;
    right: 0;
    z-index: -1;
    border-bottom-right-radius: 32px;
}

.quiz_description::before,
.quiz_description::after {
    content: '';
    position: absolute;
    width: clamp(9rem, -1.618rem + 31.18vw, 24.688rem);
    height: clamp(8.5rem, -0.441rem + 27.41vw, 22.688rem);
    bottom: 0;
    z-index: -1;
}

.quiz_description::before {
    left: 0;
    border-bottom-left-radius: 32px;
    background: url(../img/question_left.png) 0 0/cover no-repeat;
}

.quiz_description::after {
    right: 0;
    border-bottom-right-radius: 32px;
    background: url(../img/question_right.png) 0 0/cover no-repeat;
}

.emoji {
    padding: 8px 0 clamp(3rem, 1.5rem + 6vw, 6rem) 8px;
}

.emoji__row {
    display: flex;
    justify-content: center;
}

.emoji__list {
    display: flex;
    gap: 8px;
    overflow: hidden;
}

.emoji__list li {
    flex: 0 0 auto;
    padding: 8px 16px;
    border-radius: 10px;
    background-color: var(--white-color);   
}

.emoji__list li::first-letter {
    text-transform: uppercase;
}

.emoji__list li span {
    padding-right: 16px;
}

.comments {
    padding-bottom: clamp(3rem, 1.5rem + 6vw, 6rem);
}

.swiper {
    height: 464px;
}

.swiper-slide {
    width: 352px !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 32px;
    display: flex !important;
    align-items: end;
}

.swaper__column {
    user-select: none;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    border-radius: 24px;
    margin: 8px;
    gap: 16px;
    padding: 55px 16px 24px;
    position: relative;
}

.swaper__name {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}

.swaper__comment {
    font-size: 16px;
    line-height: 19px;
}

.swaper__avatar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 88px;
    height: 88px;
    border: 8px solid var(--white-color);
    border-radius: 50%; 
}

.swaper__column::before, 
.swaper__column::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 1;
}

.swaper__column::before {
    top: -11px;
    left: 32.89%;
    background: url(../img/favicon/corner_left.svg) 0 0 no-repeat;
}

.swaper__column::after {
    top: -15px;
    right: 33.4%;
    background: url(../img/favicon/corner_right.svg) 0 0 no-repeat;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 100px;
    height: 100px;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    background-color: var(--white-color);
    transform: translateY(-50%);
    color: var(--white-color, var(--swiper-theme-color));
    box-shadow: 0px 24px 35px 0px rgba(158, 0, 255, 0.3);
    transition: 0.15s ease;
    user-select: none;
}

.swiper-button-prev {
    left: 35px;
}

.swiper-button-next {
    right: 35px;
}

.swiper-button-prev img {
    margin-right: 5px;
}

.swiper-button-next img {
    margin-left: 5px;
}
   
.quiz {
    padding-bottom: clamp(3rem, 1.5rem + 6vw, 6rem);
}

.quiz__row {
    display: flex;
    gap: 8px;
}

.history {
    flex: 1 0 320px;
}

.history__column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.history__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 10px;
}

.history__item {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px clamp(1.5rem, 0.75rem + 3vw, 3rem) 10px 24px;
    background-color: var(--white-color);
    position: relative;
    cursor: pointer;
    transition: 0.15s ease;
}

.history__item * {
    pointer-events: none;
}

.history__item:first-child {
    border-top-right-radius: 24px;
}

.history__item:last-child {
    border-bottom-right-radius: 24px;
}

.history__item_active {
    background-color: var(--black-color);
    color: var(--white-color);
}

.history__item span {
    font-size: 16px;
    line-height: 19px;
}

.form {
    background-color: var(--white-color);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: clamp(3rem, 2.5rem + 2vw, 4rem);
}

.quiz__form {
    padding: 32px clamp(1rem, 0.5rem + 2vw, 2rem) clamp(1rem, 0.5rem + 2vw, 2rem);
    box-shadow: 0px -20px 0px -15px rgba(233, 196, 255, 1), 0px -34px 0px -24px rgba(240, 217, 255, 1);
}

.quiz__body {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 0.75rem + 1vw, 1.5rem);
}

.quiz__text {
    max-width: 700px;
}

.quiz__answers {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.quiz__btns {
    display: flex; 
    gap: 8px;
}

.quiz__btn_prev {
    padding: 12px 60px !important;
}

.quiz__last-page {
    display: none;
    flex-direction: column;
    gap: 23px;
    margin-top: -70px;
}

.swiper-container {
    transform: none;
}

.emoji__img {
    width: clamp(6rem, 5.273rem + 3.64vw, 8rem);
    height: clamp(6rem, 5.273rem + 3.64vw, 8rem);
}

@media (hover:hover) {
    .swiper-button-next:hover, 
    .swiper-button-prev:hover {
        background-color: var(--hover-color);
    }

    .swiper-button-next:hover img, 
    .swiper-button-prev:hover img {
        filter: brightness(0) invert(1);
    }

    .history__item:hover {
        background-color: var(--hover-color);
        color: var(--white-color);
    }   

    .history__item:hover::after {
        content: '';
        background: url(../img/favicon/arrow_quiz_hover.svg) 0 0 no-repeat;   
        width: 10px;
        height: 20px;
        position: absolute;
        top: 50%;
        right: 24px;
        transform: translateY(-50%);
    }
}


@media (min-width: 1440px) { 
    .history__item {
        border-radius: 16px !important;
    }
}


@media (max-width: 768px) { 
    .quiz_description {
        padding-bottom: 127px;
    }

    .quiz_description__colomn {
        align-items: start;
    }

    .quiz_description__text {
        max-width: 500px;
        text-align: left;
    }
    
    .quiz_description::before {
        width: clamp(5.625rem, -8.717rem + 45.9vw, 13.313rem);
        height: clamp(6.25rem, -5.76rem + 38.43vw, 12.688rem);
        background: url(../img/question_left_2.png) 0 0/cover no-repeat;
    }

    .history {
        flex: 1 1 auto;
    }

    .history__item {
        border-radius: 16px;
    }

    .history__item:first-child {
        border-top-right-radius: 24px;
        border-top-left-radius: 24px;
    }
    
    .history__item:last-child {
        display: none !important;
    }
    
    .history__item_active {
        background-color: var(--black-color);
        color: var(--white-color);
    }

    .quiz__row {
        flex-direction: column;
    }

    .quiz__form {
        box-shadow: 0px 20px 0px -15px rgba(233, 196, 255, 1), 0px 34px 0px -24px rgba(240, 217, 255, 1);
    }

    .quiz__btn_prev,
    .quiz__btn_next {
        border-radius: 8px !important;
        width: 140px !important;
        padding: 8px 12px !important;
    }

    .quiz__btn_next {
        border-bottom-right-radius: 16px !important; 
    }

    .quiz__btn_prev {
        border-bottom-left-radius: 16px !important;
    }

    .text {
        font-weight: 600;
    }

    .title {
        font-family: 'Neue Machina Ubold';
    }

    .swiper {
        height: 522px;
    }
    
    .swiper-slide {
        width: 288px !important;
    }

    .swaper__column::before {
        top: -10px;
        left: 28.9%;
    }
    
    .swaper__column::after {
        top: -15px;
        right: 29.6%;
    }

    .swiper-button-next, .swiper-button-prev {
        display: none;
    }
}
 